*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#info{
    text-align: center;
   margin:10px 5px;
   color: rgb(4, 72, 49);
  
}
#buynow-form{
    display: flex;
    flex-direction: column;
    width:60%;
    border: 1px solid black;
   margin: 10px auto;
   padding:0.5%;
   border-radius: 10px;

}
label{
    margin:5px 0px;
}
#submit_button{
    margin:1% auto;
    width: 10%;
    color: aliceblue;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#submit_button:hover{
    background-color: #218838;

}