/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}

/* Heading */
.heading {
    text-align: center;
    padding: 20px;
    background-color: coral;
    color: #fff;
}

.heading h1 {
    margin: 0;
    font-size: 2.5em;
    text-transform: capitalize;
}

/* Product Section */
.product-section {
    display: flex;
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 10px;
    padding: 20px;
    flex-wrap: wrap;
}


/* Category Section */
.category {
    flex: 1;
    max-width: 250px;
}

.category h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: black;
    text-transform: capitalize;
}

.category ul {
    list-style: none;
    padding: 0;
}

.category li {
    /* margin-bottom: 10px; */
    font-size: 1.2em;
    cursor: pointer;
    color: black;
}

/* .category li:hover {
    text-decoration: underline;
} */

/* Products Section */
.products {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Product Card */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #006d77;
}

.product-card p {
    font-size: 1.2em;
    color: #555;
}

/* Buttons */
.btn {
    display: inline-block;
   padding: 10px 20px;
    margin: 5px 0;
    background-color: rgb(33, 33, 33);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(39, 40, 39, 0.616);
}

.add-to-cart {
    margin-right: 10px;
}

.buy-now {
    background-color: coral;
}

.buy-now:hover {
    background-color: rgba(58, 230, 58, 0.619);
}


@media (max-width: 768px) {
    .product-card {
        height:auto;
    }
    .product-section {
       /* flex-direction: column;*/
        height: auto;

    }
    .product-card img {
        height: 200px;
        object-fit: cover; 
    }

    .products {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        gap: 10px; 
        height: auto;
        }
    .category {
        margin-right: 2%;
        margin-bottom: 20px;
    }
    
}
